* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-size: cover;
  background: url(/img/background.jpg) no-repeat center center;
  height: 100vh;
  width: 100%;
}

.main {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
}

button {
  background-color: rgba(0, 0, 0, 0.685);
  border: none;
  color: #fff;  
  font-size: 2rem;
  font-weight: 500;
  width: 7rem;
}

.calculator {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.377);
  /* border-radius: 1.5rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding: 1rem; */
  /* width: 30rem; */
  padding-top: 5rem;
}

.calculator__buttons {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(4,1fr); 
  justify-items: center; 
  margin-top: 4rem; 
  grid-auto-rows: 7rem;
}

.calculator__buttons--dot {
  font-size: 0.5rem;
}

.calculator__buttons--equal {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}
